{% extends "general/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'quote/view_quotes_styles.css' %}">
{% endblock %}
{% block scripts %}
    <script src="{% static 'quote/view_quotes_scripts.js' %}"></script>
{% endblock %}

{% block content %}

    <h1 style="text-align: center">Quotes</h1>

    <table id="quoteTable">
        <thead>
            <tr>
                <th>Customer name</th>
                <th>Description</th>
                <th>Address</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
        {% for quote in quotes %}

            <tr data-href="quote-details/{{ quote.id }}">
                <td data-label="Name">{{ quote.customer_first_name }} {{ quote.customer_last_name }}</td>
                <td data-label="Description">{{ quote.job_descripton }}</td>
                <td data-label="Address">{{ quote.address }}</td>
                <td data-label="Date">{{ quote.date_of_job }}</td>
                <td data-label="Action"><button onclick="document.location='quote-details/{{ quote.id }}'">View quote</button></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock content %}

