{% extends "general/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'quote/view_quotes_styles.css' %}">
{% endblock %}

{% block content %}

    <h2>View quote page</h2>
    <p>This is where a single quote will be dislayed</p>


    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Address</th>
                <th>Date of job</th>
                <th>Expected duration</th>
                <th>Materials</th>
                <th>Price of materials</th>
                <th>Removal included</th>
                <th>Price of removal</th>
                <th>Price of labour</th>
                <th>Total quote price</th>
                <th>Issued by</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        {% for data in quote %}

                <tr>
                    <td data-label="First name">{{ data.customer_first_name }}</td>
                    <td data-label="Last name">{{ data.customer_last_name }}</td>
                    <td data-label="Description">{{ data.job_descripton }}</td>
                    <td data-label="Address">{{ data.address }}</td>
                    <td data-label="Date">{{ data.date_of_job }}</td>
                    <td data-label="Duration"></td>
                    <td data-label="Materials">{{ data.materials }}</td>
                    <td data-label="Price of Materials">{{ data.price_of_materials }}</td>
                    <td data-label="Removal included">{{ data.removal_included }}</td>
                    <td data-label="Price of removal">{{ data.price_of_removal }}</td>
                    <td data-label="Total quote price">{{ data.quote_price }}</td>
                    <td data-label="Issued by"></td>
                    <td data-label="Created">{{ data.created_at }}</td>
                </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock content %}