body {
  margin: 0;
}

.topbar {
  background-color: #023644;
  margin: 0px;
  height: 5%;
  vertical-align: middle;
  padding: 1%;
  /* padding-top: 1%;
  padding-bottom: 1%; */
}

.topbar img {
  vertical-align: middle;
}

.topbar a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1%;
  padding: 2%;
}

.topbar a:hover {
  background-color: #92e782;
}
