body {
  margin: 0;
}

.topbar {
  background-color: #023644;
  margin: 0px;
  height: 5%;
  vertical-align: middle;
  padding-top: 1%;
  padding-bottom: 1%;
}

.topbar a {
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  padding: 1%;
  /* box-sizing: border-box; */
  /* max-height: inherit; */
}

.topbar a:hover {
  background-color: #92e782;
  text-decoration: none;
}

#navbar_logo {
  max-width: 10%;
  max-height: 10%;
}
