{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="stylesheet" href="{% static 'general/main.css' %}">
    
    </head>

    <body>

        <div class="topbar">
            <img src="{% static 'general/logosmall.jpg' %}" alt="Frenchay Fencing Logo" style="max-width: 15%; max-height: 15%;"/>
            <a id="title" href="{% url 'quote-home' %}">Home</a>
            <a id="anotherLink" href="#">Second link</a>
        </div>
        
        <h3>This is the end of the general base file, content block after this</h3>
        
        {% block content %}{% endblock %}

    </body>

