{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'general/main.css' %}">
    
    </head>

    <body>

        <div class="flex-container">
            <div class="topbar">
                <img id="navbar_logo" src="{% static 'general/logosmall.jpg' %}" alt="Frenchay Fencing Logo">
                <a id="title" href="{% url 'general-home' %}">Home</a>
                <a id="anotherLink" href="{% url 'quote-home' %}">Quotes</a>
            </div>
    </div>
        
        <h3>This is the end of the general base file, content block after this</h3>
        
        {% block content %}{% endblock %}

    </body>

</html>