{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Local fencing company in Bristol">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>Frenchay Fencing</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'general/img/favicon.png' %}"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static 'general/main.css' %}">
        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    
    </head>

    <body>

        <header>
            <a href="{% url 'general-home' %}"><img src="{% static 'general/img/logosmall.jpg' %}" style="height: 60px; width: 200px; margin-right: 10px;" alt="Frenchay Fencing Logo"></a>
            <!-- <input type="checkbox" id="nav-toggle" class="nav-toggle"> -->

            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'general-home' %}">Home</a></li>
                        <li><a href="{% url 'view-quotes' %}">Quotes</a></li>
                        <li><a href="{% url 'view-jobs' %}">Jobs</a></li>
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'general-home' %}">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    
                </ul>
            </nav>

            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" >
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        {% block content %}{% endblock %}

    </body>

</html>