{% extends "general/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'general/home_styles.css' %}">
{% endblock %}

{% block content %}

    <div class="preload-images"></div>
    <div class="bg">
        <div class="caption">
            <h1>Frenchay Fencing</h1><br>
            <h2>A local company built on years of knowledge and experience</h2>
        </div>
    </div>

    <div id="content">
        <h3 class="paragraph">Frenchay Fencing is owned by Mike and Andy, both firefighters with over 10 years of experience in fencing and landscaping.</h3>
        <h4 class="paragraph">We offer a range of services in Bristol from including fences, gates and more.</h4>
        <h4 class="paragraph">We can cater to every customer's needs whether it be a new installation, repair or replacement. With all the tools and high-quality materials we can make </h4>
    </div>

{% endblock content %}