{% extends "general/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'general/home_styles.css' %}">
{% endblock %}

{% block content %}

    <!-- <h1 id="maintitle" class="title">Frenchay Fencing</h1>
    <h2 id="subtitle" class="title">A local company built on years of knowledge and experience</h2> -->

    <div id="slider">
        <figure>
            
            <img src="{% static 'general/img/fenceimg1.jpg' %}">
            <img src="{% static 'general/img/fenceimg2.jpg' %}">
            <img src="{% static 'general/img/fenceimg3.jpg' %}">
            <img src="{% static 'general/img/fenceimg4.jpg' %}">
            <img src="{% static 'general/img/fenceimg5.jpg' %}">
            <!-- repeat first image here for smooth image rotation -->
            <img src="{% static 'general/img/fenceimg1.jpg' %}">
        </figure>
    </div>

{% endblock content %}