#data-container {
  margin-left: 2%;
}

.name {
  grid-area: customerName;
}
.nameData {
  grid-area: customerNameData;
}
.address {
  grid-area: customerAddress;
}
.addressData {
  grid-area: customerAddressData;
}
.email {
  grid-area: customerEmail;
}
.emailData {
  grid-area: customerEmailData;
}
.phoneNum {
  grid-area: customerNumber;
}
.phoneNumData {
  grid-area: customerNumberData;
}
.dateOfJob {
  grid-area: jobDate;
}
.dateOfJobData {
  grid-area: jobDateData;
}
.description {
  grid-area: jobDescription;
}
.descriptionData {
  grid-area: jobDescriptionData;
}
.materials {
  grid-area: material;
}
.materialsData {
  grid-area: materialData;
}
.priceOfMaterials {
  grid-area: materialPrice;
}
.priceOfMaterialsData {
  grid-area: materialPriceData;
}
.removalIncuded {
  grid-area: removal;
}
.removalIncudedData {
  grid-area: removalData;
}
.priceOfRemoval {
  grid-area: removalPrice;
}
.priceOfRemovalData {
  grid-area: removalPriceData;
}
.priceOfLabour {
  grid-area: priceLabour;
}
.priceOfLabourData {
  grid-area: priceLabourData;
}
.jobPrice {
  grid-area: priceJob;
}
.jobPriceData {
  grid-area: priceJobData;
}
.issuedBy {
  grid-area: issued;
}
.issuedByData {
  grid-area: issuedData;
}
.invoiceSent {
  grid-area: sentInvoice;
}
.invoiceSentData {
  grid-area: sentInvoiceData;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "customerName customerNameData customerNameData customerNameData customerNameData"
    "customerAddress customerAddressData customerAddressData customerAddressData customerAddressData"
    "customerNumber customerNumberData customerNumberData customerNumberData customerNumberData"
    "customerEmail customerEmailData customerEmailData customerEmailData customerEmailData"
    "jobDate jobDateData jobDateData jobDateData jobDateData"
    "jobDescription jobDescriptionData jobDescriptionData jobDescriptionData jobDescriptionData"
    "material materialData materialData materialData materialData"
    "materialPrice materialPriceData materialPriceData materialPriceData materialPriceData"
    "removal removalData removalData removalData removalData"
    "removalPrice removalPriceData removalPriceData removalPriceData removalPriceData"
    "priceLabour priceLabourData priceLabourData priceLabourData priceLabourData"
    "priceJob priceJobData priceJobData priceJobData priceJobData"
    "issued issuedData issuedData issuedData issuedData"
    "sentInvoice sentInvoiceData sentInvoiceData sentInvoiceData sentInvoiceData";
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(2, 500px) 30px;
  grid-template-rows: minmax(0.5%, 100%) repeat(2, 1fr);
  overflow-wrap: break-word;
}

.grid-container > div {
  text-align: left;
  padding: 10px 0;
}

#sendEmailError {
  display: none;
  text-align: center;
  background-color: #b86566;
  border-color: #a15d5e;
  margin-left: 30%;
  margin-right: 30%;
}

#sendEmailSuccess {
  display: none;
  text-align: center;
  background-color: #7bc17e;
  border-color: #6aab6d;
  margin-left: 30%;
  margin-right: 30%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sendingEmail {
  display: none;
}

.loader {
  display: none;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #92e782;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "customerName customerNameData customerNameData customerNameData customerNameData"
      "customerAddress customerAddressData customerAddressData customerAddressData customerAddressData"
      "customerNumber customerNumberData customerNumberData customerNumberData customerNumberData"
      "customerEmail customerEmailData customerEmailData customerEmailData customerEmailData"
      "jobDate jobDateData jobDateData jobDateData jobDateData"
      "jobDescription jobDescriptionData jobDescriptionData jobDescriptionData jobDescriptionData"
      "material materialData materialData materialData materialData"
      "materialPrice materialPriceData materialPriceData materialPriceData materialPriceData"
      "removal removalData removalData removalData removalData"
      "removalPrice removalPriceData removalPriceData removalPriceData removalPriceData"
      "priceLabour priceLabourData priceLabourData priceLabourData priceLabourData"
      "priceJob priceJobData priceJobData priceJobData priceJobData"
      "issued issuedData issuedData issuedData issuedData"
      "issued issuedData issuedData issuedData issuedData"
      "sentInvoice sentInvoiceData sentInvoiceData sentInvoiceData sentInvoiceData";
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr) 30px;
    grid-template-rows: minmax(0.5%, 100%) repeat(2, 1fr);
    overflow-wrap: break-word;
  }

  #sendingEmail {
    display: none;
    font-size: x-small;
  }

  .loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #92e782;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  #emailFeedback {
    font-size: large;
  }

  #sendEmailError {
    display: none;
    text-align: center;
    background-color: #b86566;
    border-color: #a15d5e;
    margin-left: 5%;
    margin-right: 5%;
  }

  #sendEmailSuccess {
    display: none;
    text-align: center;
    background-color: #7bc17e;
    border-color: #6aab6d;
    margin-left: 5%;
    margin-right: 5%;
  }
}
